# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production build
build/
dist/

# dotenv
.env
.env.*

# IDEs
.vscode/
.idea/

# Logs
*.log

# Coverage
coverage/

# Firebase
firebase.json
firebaseConfig.js
serviceAccountKey.json

# Others
.DS_Store
.cache/
